#footer {
    background-color: #212121;
    color: white;
    bottom: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
}
#footer {
    width: 100%;
    height: 75px;
}
#footer-right {
    float: right;
}
#footer-right-top {
    padding: 5px;
}
#footer-right-bottom {
    padding: 5px;
}