img.logo {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 35%;
}
div.logo {
    background-color: #991E20;
}
.ui.menu>.item:first-child {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    background-color: #991E20;    
}
.ui.inverted.menu>.item:first-child.active.item {
    background-color: #991E20;       
}
.ui.inverted.menu a.item:hover{
    background-color: #991E20;    
    
}
.ui.menu .dropdown.item .menu {
    background-color: black;
}
.ui.menu .ui.dropdown .menu>.item {
    color: white !important;
}
.ui.menu .dropdown.item .menu>.item:hover {
    background-color: #414141 !important;   
    color: white !important     
}